.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    padding: 20px 30px;
    background: linear-gradient(to right bottom, #6384b559, hsla(0, 58%, 49%, 0.5));
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: -50px;
    margin-left: -100px;
    animation: hithere 1s ease infinite;
}

@keyframes hithere {
    0% { opacity: 1; }
    30% { transform: scale(1.1); opacity: 1; }
    40%, 60% { transform: rotate(-5deg) scale(1.1); opacity: 1; }
    50% { transform: rotate(5deg) scale(1.1); opacity: 1; }
    70% { transform: rotate(0deg) scale(1.1); opacity: 1; }
    100% { transform: scale(1); opacity: 0; } /* Wegvagen op het einde */  
}
  

.new-tabs {
    display: flex !important;
    font-size: 20px !important;
    /* color: aqua; */
    align-items: center !important;
    justify-content: center !important;
}

.new-border {
    border-right: 0px !important;
    text-align: center !important;
}

.new-fade-box {
    background: linear-gradient(to right bottom, #6384b587, hsla(0, 58%, 49%, 0.801)) !important;
    border-radius: 10px !important;
    box-shadow: rgba(255, 10, 10, 0.71) 2px 2px 10px !important;
    overflow: hidden; /* Hide scrollbars */
}

.new-server-list {
    overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.new-server-list::-webkit-scrollbar {
    display: none !important;
}

.new-progress-striped {
    background: repeating-linear-gradient(-45deg, #4CAF50, #4CAF50 25px, #388E3C 0, #388E3C 50px) !important;
}
.new-activeskin {
    box-shadow: 0 0 3px 1px rgba(255, 10, 10, 0.71) !important;
}

.new-tabs-region {
    border-right: 1px !important;
    border-bottom-right-radius: 2px;
}

/* Definieer de keyframes voor de knipperende animatie */
@keyframes flash {
    0%, 100% {
        box-shadow: rgba(255, 10, 10, 0.71) 0px 0px 10px;
    }
    50% {
        box-shadow: rgba(255, 10, 10, 0) 0px 0px 10px;
    }
}

/* Pas de animatie toe op het element */
.flashing-skin-div {
    box-shadow: rgba(255, 10, 10, 0.859) 0px 0px 10px;
    animation: flash 2s infinite;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 200px; 
}


.skin-div {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 200px; 
}